*{
    box-sizing: border-box;
}

body{
    max-height: 200vh;
    height: max-content;
    background-color: salmon;
}

#navContents{

    display: flex;
    justify-content: space-between;

}

#nav_item{
    display: flex;
    gap: 2em;

}

.text{
    opacity: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    transform: translateY(-20px);
     z-index: -55;
    transition: opacity 0.5s ease-in, transform 0.3 ease-in-out;
}


#nav_item a{
    text-decoration: none;
    color: rgb(0, 0, 0);
 

}
#nav_item a:hover{
    color: rgb(255, 249, 249);
}

#nav_item a:hover + .text{
    opacity: 1;
    transform: translateY(-6px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in;
}

#body_cont {
    margin-top: 5em;
    
    padding: 3em;
}

#balance_display{
    padding: 3em;
    border-radius: 30px;
    background-color: rgb(54, 35, 33);
}

.payment_info{
    display: flex;
    gap: 3px;
    

}

.request{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card-body li{
    font-size: 12px;
    list-style: none;
}

.card-top{
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.holder:hover{
    transform: translateY(-4px);
    box-shadow: 0 2px 3px black;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

#payment{



    width: 500px;
    border-radius: 20px;

    background-color: aqua;
 
}

#payment:hover{
    
    cursor: pointer;
    transform: translateY(-3px);
    transition: all ease-in-out 300ms;
}




#payment_enter{
    background-color: white;
    border-radius: 20px;
    color: black;
}

.profile_logo a{
    text-decoration: none;
    color: white;
}

.receipt_btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 2px 3px rgb(254, 1, 1) ;
    background-color: black;
    color: white;
    transition: all ease-in-out 340ms;
}