*{
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}


.body_css{
    background-color: rgb(121, 150, 140);
}
.nav{
    width: 100%;
    padding: 1.5em;
    border: 2px solid black;
}
.nav_items{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table_test{
    border-radius: 20px;
}