*{
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

:root{
    --oxley-50: #f5f8f6;
    --oxley-100: #dfe8e4;
    --oxley-200: #bfd0c9;
    --oxley-300: #97b1a7;
    --oxley-400: #79968c;
    --oxley-500: #57756b;
    --oxley-600: #445d56;
    --oxley-700: #394c46;
    --oxley-800: #303f3b;
    --oxley-900: #2b3633;
    --oxley-950: #161d1b;


}


.body_css{
    background-color: var(--oxley-400);
}
.nav{
    width: 100%;
    padding: 1.5em;
    border: 2px solid black;
}
.nav_items{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.nav-div a:hover{
    color: aqua;
    transition: all ease-in-out 200ms;
}
.search{

    justify-content: end;
    display: flex;

    gap: 5px;
    margin-right: 0;
    margin-bottom: 2em;

}

.search form{
    display: flex;
    gap: 5px;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    align-items: center;
    

}



.search-btn:hover{
    background-color: white;
    color: black;

}

.role_container{
    margin: auto;
    padding: .3em;
    border-radius: 40px;
}

.member{
    background-color: rgb(58, 103, 13);
    color: white;
}
.editor{
    background-color: rgb(10, 46, 118);
    color: white;
}

.administrator{
    background-color: rgb(118, 10, 10);
    color: white;
}


.search-bar{
    width: 60%;
    height: max-content;
}

.deleteBtn{
    background-color: var(--oxley-700);
    border: none;
    color: white;
}

.updateBtn{
    background-color: var(--oxley-500);
    border: none;
    color: white;
}