*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.body{
    height: 100vh;
}

.general_users_container{
    display: block;
    
}

.user-container{
    width: 80%;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.users{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    word-wrap: break-word;
}